<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="BanterBrain_Buddy.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<System.Windows.Forms.ApplicationConfigurationSection>
		<add key="DpiAwareness" value="PerMonitorV2" />
	</System.Windows.Forms.ApplicationConfigurationSection>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Threading.Tasks.Extensions" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.0.1" newVersion="4.2.0.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Win32.Registry" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.Http" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.0.0.0" newVersion="8.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Bcl.AsyncInterfaces" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.0.0.0" newVersion="8.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.DependencyInjection.Abstractions" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.0.0.1" newVersion="8.0.0.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.Logging.Abstractions" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.0.0.1" newVersion="8.0.0.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.Options" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.0.0.2" newVersion="8.0.0.2" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <userSettings>
    <BanterBrain_Buddy.Properties.Settings>
      <setting name="VoiceInput" serializeAs="String">
        <value>placeholder</value>
      </setting>
      <setting name="PTTHotkey" serializeAs="String">
        <value>placeholder</value>
      </setting>
      <setting name="STTProvider" serializeAs="String">
        <value>placeholder</value>
      </setting>
      <setting name="LLMProvider" serializeAs="String">
        <value>placeholder</value>
      </setting>
      <setting name="LLMModel" serializeAs="String">
        <value>placeholder</value>
      </setting>
      <setting name="LLMRoleText" serializeAs="String">
        <value>placeholder</value>
      </setting>
      <setting name="TTSProvider" serializeAs="String">
        <value>placeholder</value>
      </setting>
      <setting name="TTSAudioOutput" serializeAs="String">
        <value>placeholder</value>
      </setting>
      <setting name="TTSAudioVoice" serializeAs="String">
        <value>placeholder</value>
      </setting>
      <setting name="TTSAudioVoiceOptions" serializeAs="String">
        <value>placeholder</value>
      </setting>
      <setting name="STTAPIKey" serializeAs="String">
        <value>placeholder</value>
      </setting>
      <setting name="STTAPIRegion" serializeAs="String">
        <value>placeholder</value>
      </setting>
      <setting name="LLMAPIKey" serializeAs="String">
        <value>placeholder</value>
      </setting>
      <setting name="TTSAudioVoiceEnabled" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="TTSAudioVoiceOptionsEnabled" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="STTAPIKeyEnabled" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="STTAPIRegionEnabled" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="HotkeyList" serializeAs="Xml">
        <value>
          <ArrayOfString xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
            <string>LControlKey</string>
            <string>Z</string>
          </ArrayOfString>
        </value>
      </setting>
      <setting name="TwitchUsername" serializeAs="String">
        <value>placeholder</value>
      </setting>
      <setting name="TwitchAccessToken" serializeAs="String">
        <value>placeholder</value>
      </setting>
      <setting name="TwitchChannel" serializeAs="String">
        <value>placeholder</value>
      </setting>
      <setting name="TwitchCommandTrigger" serializeAs="String">
        <value>placeholder</value>
      </setting>
      <setting name="TwitchAutoConnect" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="TwitchTestSendText" serializeAs="String">
        <value>placeholder</value>
      </setting>
      <setting name="TwitchSendTextCheckBox" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="TwitchChatCommandDelay" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="TwitchNeedsFollower" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="TwitchNeedsSubscriber" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="TwitchMinBits" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="TwitchSubscribed" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="TwitchCommunitySubs" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="TwitchGiftedSub" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="TTSAPIKeyTextBox" serializeAs="String">
        <value>placeholder</value>
      </setting>
      <setting name="TTSRegionTextBox" serializeAs="String">
        <value>placeholder</value>
      </setting>
    </BanterBrain_Buddy.Properties.Settings>
  </userSettings>
</configuration>
