<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="BanterBrain_Buddy.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
  <userSettings>
    <BanterBrain_Buddy.Properties.Settings>
      <setting name="VoiceInput" serializeAs="String">
        <value />
      </setting>
      <setting name="PTTHotkey" serializeAs="String">
        <value>LControlKey + D</value>
      </setting>
      <setting name="GPTModel" serializeAs="String">
        <value>gpt-3.5-turbo</value>
      </setting>
      <setting name="GPTAPIKey" serializeAs="String">
        <value />
      </setting>
      <setting name="TwitchUsername" serializeAs="String">
        <value />
      </setting>
      <setting name="TwitchAccessToken" serializeAs="String">
        <value />
      </setting>
      <setting name="TwitchChannel" serializeAs="String">
        <value />
      </setting>
      <setting name="TwitchCommandTrigger" serializeAs="String">
        <value>$BBB</value>
      </setting>
      <setting name="TwitchTestSendText" serializeAs="String">
        <value>Hello! I am BanterBrain Buddy https://banterbrain.tv</value>
      </setting>
      <setting name="TwitchSendTextCheckBox" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="TwitchChatCommandDelay" serializeAs="String">
        <value>300</value>
      </setting>
      <setting name="TwitchNeedsFollower" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="TwitchNeedsSubscriber" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="TwitchMinBits" serializeAs="String">
        <value>100</value>
      </setting>
      <setting name="TwitchSubscribed" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="TwitchCommunitySubs" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="TwitchGiftedSub" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="AzureAPIKeyTextBox" serializeAs="String">
        <value />
      </setting>
      <setting name="AzureRegionTextBox" serializeAs="String">
        <value />
      </setting>
      <setting name="AzureLanguageComboBox" serializeAs="String">
        <value>en-US</value>
      </setting>
      <setting name="TwitchEnable" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="TwitchCheckAuthAtStartup" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="TwitchReadChatCheckBox" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="TwitchCheerCheckbox" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="TTSAPIKeyTextBoxEnabled" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="TTSRegionTextBoxEnabled" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="TwitchChannelPointCheckBox" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="TwitchCustomRewardName" serializeAs="String">
        <value />
      </setting>
      <setting name="GPTMaxTokens" serializeAs="String">
        <value>100</value>
      </setting>
      <setting name="GPTTemperature" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="TTSNativeVoiceSelected" serializeAs="String">
        <value />
      </setting>
      <setting name="STTSelectedProvider" serializeAs="String">
        <value />
      </setting>
      <setting name="MainSelectedPersona" serializeAs="String">
        <value />
      </setting>
      <setting name="TTSAudioOutput" serializeAs="String">
        <value />
      </setting>
      <setting name="SelectedLLM" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="TwitchChatPersona" serializeAs="String">
        <value />
      </setting>
      <setting name="TwitchChannelPointPersona" serializeAs="String">
        <value />
      </setting>
      <setting name="TwitchCheeringPersona" serializeAs="String">
        <value />
      </setting>
      <setting name="TwitchSubscriptionPersona" serializeAs="String">
        <value />
      </setting>
      <setting name="TwitchAutoStart" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="ElevenLabsAPIkey" serializeAs="String">
        <value />
      </setting>
      <setting name="OllamaURI" serializeAs="String">
        <value>http://localhost:11434</value>
      </setting>
      <setting name="OllamaSelectedModel" serializeAs="String">
        <value />
      </setting>
      <setting name="UseOllamaLLMCheckBox" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="OllamaResponseLengthComboBox" serializeAs="String">
        <value>Normal</value>
      </setting>
    </BanterBrain_Buddy.Properties.Settings>
  </userSettings>
</configuration>