<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="BanterBrain_Buddy.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
  <userSettings>
    <BanterBrain_Buddy.Properties.Settings>
      <setting name="VoiceInput" serializeAs="String">
        <value />
      </setting>
      <setting name="PTTHotkey" serializeAs="String">
        <value />
      </setting>
      <setting name="STTProvider" serializeAs="String">
        <value>Native</value>
      </setting>
      <setting name="LLMProvider" serializeAs="String">
        <value>OpenAI ChatGPT</value>
      </setting>
      <setting name="LLMModel" serializeAs="String">
        <value>gpt-3.5-turbo</value>
      </setting>
      <setting name="LLMRoleText" serializeAs="String">
        <value>You are a helpful assistant with a cheeky personality</value>
      </setting>
      <setting name="TTSProvider" serializeAs="String">
        <value>Native</value>
      </setting>
      <setting name="TTSAudioOutput" serializeAs="String">
        <value />
      </setting>
      <setting name="TTSAudioVoice" serializeAs="String">
        <value />
      </setting>
      <setting name="TTSAudioVoiceOptions" serializeAs="String">
        <value />
      </setting>
      <setting name="STTAPIKey" serializeAs="String">
        <value />
      </setting>
      <setting name="STTAPIRegion" serializeAs="String">
        <value />
      </setting>
      <setting name="LLMAPIKey" serializeAs="String">
        <value />
      </setting>
      <setting name="TTSAudioVoiceEnabled" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="TTSAudioVoiceOptionsEnabled" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="STTAPIKeyEnabled" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="STTAPIRegionEnabled" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="TwitchUsername" serializeAs="String">
        <value />
      </setting>
      <setting name="TwitchAccessToken" serializeAs="String">
        <value />
      </setting>
      <setting name="TwitchChannel" serializeAs="String">
        <value />
      </setting>
      <setting name="TwitchCommandTrigger" serializeAs="String">
        <value>$BBB</value>
      </setting>
      <setting name="TwitchTestSendText" serializeAs="String">
        <value>Hello! I am BanterBrain Buddy https://banterbrain.tv</value>
      </setting>
      <setting name="TwitchSendTextCheckBox" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="TwitchChatCommandDelay" serializeAs="String">
        <value>300</value>
      </setting>
      <setting name="TwitchNeedsFollower" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="TwitchNeedsSubscriber" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="TwitchMinBits" serializeAs="String">
        <value>100</value>
      </setting>
      <setting name="TwitchSubscribed" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="TwitchCommunitySubs" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="TwitchGiftedSub" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="TTSAPIKeyTextBox" serializeAs="String">
        <value />
      </setting>
      <setting name="TTSRegionTextBox" serializeAs="String">
        <value />
      </setting>
      <setting name="HotkeyList" serializeAs="String">
        <value />
      </setting>
      <setting name="STTLanguageComboBox" serializeAs="String">
        <value>en-US</value>
      </setting>
      <setting name="TwitchEnable" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="TwitchCheckAuthAtStartup" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="TwitchReadChatCheckBox" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="TwitchCheerCheckbox" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="TTSAPIKeyTextBoxEnabled" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="TTSRegionTextBoxEnabled" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="TwitchChannelPointCheckBox" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="TwitchCustomRewardName" serializeAs="String">
        <value />
      </setting>
    </BanterBrain_Buddy.Properties.Settings>
  </userSettings>
</configuration>